.checkbox-div {
    width:200px;
    height:150px;
    overflow:auto;
    border:1px solid #840;
    margin:1em;
}
input[type="checkbox"].checkbox-depth1 {
    margin: 0 0 0 20px;
}
input[type="checkbox"].checkbox-depth2 {
    margin: 0 0 0 40px;
}
input[type="checkbox"].checkbox-depth3 {
    margin: 0 0 0 60px;
}
input[type="checkbox"].checkbox-depth4 {
    margin: 0 0 0 80px;
}
input[type="checkbox"].checkbox-depth5 {
    margin: 0 0 0 100px;
}
input[type="checkbox"].checkbox-depth6 {
    margin: 0 0 0 120px;
}
input[type="checkbox"].checkbox-depth7 {
    margin: 0 0 0 140px;
}
input[type="checkbox"].checkbox-depth8 {
    margin: 0 0 0 160px;
}
input[type="checkbox"].checkbox-depth9 {
    margin: 0 0 0 180px;
}
input[type="checkbox"].checkbox-depth10 {
    margin: 0 0 0 20px;
}